@model FbuExam.Models.QuestionViewModel

@{
    ViewData["Title"] = "AddQuestion";
}

<h1>AddQuestion</h1>

<h4>QuestionViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddQuestion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" readonly class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                @*<input asp-for="QuestionText" class="form-control" />*@
                <textarea asp-for="QuestionText" class="form-control"></textarea>
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionOrder" class="control-label"></label>
                @*<input asp-for="QuestionText" class="form-control" />*@
                <input asp-for="QuestionOrder" class="form-control"></input>
                <span asp-validation-for="QuestionOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerA" class="control-label"></label>
                @*<input asp-for="QuestionText" class="form-control" />*@
                <input asp-for="AnswerA" class="form-control"></input>
                <span asp-validation-for="AnswerA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerB" class="control-label"></label>
                @*<input asp-for="QuestionText" class="form-control" />*@
                <input asp-for="AnswerB" class="form-control"></input>
                <span asp-validation-for="AnswerB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerC" class="control-label"></label>
                @*<input asp-for="QuestionText" class="form-control" />*@
                <input asp-for="AnswerC" class="form-control"></input>
                <span asp-validation-for="AnswerC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerD" class="control-label"></label>
                @*<input asp-for="QuestionText" class="form-control" />*@
                <input asp-for="AnswerD" class="form-control"></input>
                <span asp-validation-for="AnswerD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectAnswer" class="control-label"></label>
                @*  <input asp-for="ExamId" class="form-control" />*@
            <select id="CorrectAnswer" name="CorrectAnswer" class="form-control">

                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>

            </select>
                <span asp-validation-for="ExamId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ExamId" class="control-label"></label>
                @*  <input asp-for="ExamId" class="form-control" />*@
                <select id="ExamId" name="ExamId" class="form-control">
                    @foreach (var exam in Model.AllExams)
                    {
                        <option value="@exam.Id">@exam.Name</option>
                    }


                </select>
                <span asp-validation-for="ExamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
